* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    height: 400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    align-items: center;
}

#app h1 {
    margin-left: auto;
    margin-right: auto;
}

#app ul {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    overflow-y: auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    padding-top: 20px;
}

.task-item {
    display: flex;
    width: 100%;
    align-items: center;
}

.task-item span {
    flex: 1;
    text-align: center;
}

#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #6b6767;
    z-index: 999;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in;
}

#modal.active {
    pointer-events: auto;
    opacity: 1;
    display: flex;
}

#task-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    background: beige;
    text-align: center;
    padding: 25px 50px;
    gap: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
}